<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body class="<%= theme === 'dark' ? 'dark' : '' %>">

    <form action="/posts/<%= post.id %>/profile?_method=PATCH" method="post" enctype="multipart/form-data">
        <label for="">Profile Pic:</label>
        <br>
        <input type="file" name="profilePic" accept="image/*">
        <br><br>
     </form>

    <form method="POST" action="/posts" enctype="multipart/form-data">

        <input placeholder="enter username" name="username" required /> 
        <br /><br />

        <textarea name="content" placeholder="Write Your Post" required></textarea> 
        <br /><br />

        <input type="file" name="images" accept="image/*" />
        <br /><br />

        <button>Submit Post</button>

    </form>

</body>
</html>
